<div class="d-flex flex-column justify-content-center align-items-centered">
  <h1 class="mt-2">Welcome to ScheduledTweets</h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "mt-2 btn btn-primary" if Current.user %>