<h1>About </h1>
<p>This is a clone of buffer. 

<p>This site was built following a tutorial by Chris Oliver at GoRails.</p>
<%= link_to "Learn Ruby on Rails at GoRails", "https://gorails.com", target: :_blank %>