<h1 class="mt-2">About ScheduledTweets</h1>
<p>This is a clone of buffer. Once logged in, a user can connect twitter handles and schedule tweets.</p>

<p> Select the Twitter Accounts tab to authorize an account or disconnect from a twitter account.</p>

<p>Go to the Tweets tab to see your tweets, to schedule a new one, to edit or delete a scheduled tweet.
  Under Tweets, the user will see tweets that have been scheduled, as well as ones that have been published.
  To cancel a scheduled tweet, click on the tweet's edit tweet link.
</p>

<p>This site was built following a <%= link_to "tutorial", "https://gorails.com/start", target: :_blank, class: "text-decoration-none" %> by Chris Oliver at GoRails.</p>
<%= link_to "Learn Ruby on Rails at GoRails", "https://gorails.com", target: :_blank, class: "text-decoration-none" %>